@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff0000;
  --banner-height: 660px;
  --banner-width: 1280px;
}

body {
}

@layer utilities {
}

@layer components {
  .swiper-pagination-bullet {
    @apply -translate-y-2.5;
  }
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}
