@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #40a578;
  --primary-color-hover: #2f835d;
  --banner-height: 660px;
  --banner-width: 1280px;
}

body {
}

@layer base {
  .font-tenada {
    font-family: 'Tenada', serif;
  }
}

@layer utilities {
}

@layer components {
  .swiper-pagination-bullet {
    @apply -translate-y-2.5;
  }
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}
